button{
    background-color: #3e22ba; /* Green */
    border-top:dez;
    color: white;
    padding:  20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 80px;
    margin-top: 300px;
    border-radius: 20px;
   }
body{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6f9b913b-c48a-43ab-a9aa-26d4355d1d80/dgc8pys-b693d022-4703-43b0-bf19-261e0765b70c.png/v1/fill/w_1280,h_549,q_80,strp/nebula_exclusive__84___4k_21_9_ultrawide_by_ixul_dgc8pys-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTQ5IiwicGF0aCI6IlwvZlwvNmY5YjkxM2ItYzQ4YS00M2FiLWE5YWEtMjZkNDM1NWQxZDgwXC9kZ2M4cHlzLWI2OTNkMDIyLTQ3MDMtNDNiMC1iZjE5LTI2MWUwNzY1YjcwYy5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.4aA0cjHsFWWmTf0AjnaToQXpCFSfUIBe4TVrDNKmupI);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    }
.bloco-central{
    width: 80%;
    max-width: 600px;
    height: 700px;
    background-color: darkblue;
    border-radius: 20px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    text-align: center;
    margin-top: 100px;
}